<% include ../partials/_header %>
<% include ../partials/_bar %>
<% include ../partials/_nav %>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->

  <!-- Main content -->
  <section class="content">

    <!-- SELECT2 EXAMPLE -->
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">Select2</h3>

      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Minimal</label>
              <select class="form-control select2" style="width: 100%;">
                <option selected="selected">Alabama</option>
                <option>Alaska</option>
                <option>California</option>
                <option>Delaware</option>
                <option>Tennessee</option>
                <option>Texas</option>
                <option>Washington</option>
              </select>
            </div>
            <!-- /.form-group -->

            <!-- /.form-group -->
          </div>
          <!-- /.col -->

          <!-- /.form-group -->

          <!-- /.form-group -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.box-body -->

    <% include ../partials/_footer %>





<div class="content-wrapper">
  <section class="content-header">
      <h1>
      Usuarios Registrados
      </h1>
  </section>

      <!-- Main content -->
       <section class="content">
        <div class="row">


     
        </div>
      </section>
</div>