<% include ../partials/_header %>



<% include ../partials/_messages %>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Ayuda de Contrase침a</h5>
    <h6 class="card-subtitle mb-2 text-muted">Introduzca la direcci칩n de correo electr칩nico para restablecer su contrase침a.</h6>
    <form action="/zonacliente/rememberpass" method="POST">
     <input type="text" name="email" class="form-control">
    <button type="submit" class="btn btn-primary">
     Enviar
    </button>
     </form>
  </div>
</div>