<% include ../partials/_header %>

<div class="col-md-5">
    <div class="card-body">
      <form action="/zonacliente/valuations" method="POST">
        <div class="form-group">
        <input type="text" name="nombre" placeholder="Nombre de la Obra">
      </div>
      <select name="idCategoria">
        <option></option>
        for 
        <option value="1">Joya</option>
        <option value="2">obra</option>
      </select>
      <select name="idTipoObjeto">
        <option></option>
        <option value="1">pintura</option>
        <option value="2">Oleo</option>
      </select>
      <select name="idTecnica">
          <option></option>
          <option value="1">oleo</option>
          <option value="2">dibujo</option>
        </select>
        <button type="submit" class="btn btn-primary">
            enviar
          </button>
      </form>
    </div>
  </div>


