<% include ../partials/_header %>

  Listado de Valoraciones para insertar!

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-7">
        <a href="/zonacliente/valuations/add">Crear Valoracion</a>
          <% if (valuations.length > 0) { %>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td>Nº</td>
              <td>Nombre</td>
              <td>Categoria</td>
              <td><a href="/" class="btn btn-info">Enviar Valoracion</a></td>
            </tr>
          </thead>
          <tbody>
            
              <% for(var i = 0; i < valuations.length; i++) { %>
                <tr>
                    <td>
                        <%= valuations[i].id %>
                      </td>
                  <!-- <select name="idCategoria">
                    <option value="<%= valuations[i].categoria %>"> </option>
                    <option value="1"> Joyas </option>
                    <option value="2"> Obras </option>
                    <option value="3"> Categoria 3 </option>
                  </select> -->
                </tr>
                <% } %>
              </tbody>
            </table>
            <% } else {%>
              usted no tiene Valoracion
              <% } %>
          </div>
        </div>
  </div>