<% include ../partials/_header %>
<% include ../partials/_bar %>
<% include ../partials/_nav %>

<div class="content-wrapper">
    <section class="content-header">
      <h1>
      
      </h1>
    </section>

   
    <section class="content">
      <div class="row">


        
      </div>
   </section>
  </div>

<% include ../partials/_footer %>