<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Alexis Navas II Consultoría de Arte</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link href="https://unpkg.com/ionicons@4.4.2/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/daterangepicker.css">
    <link rel="stylesheet" href="/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/css/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" href="/css/bootstrap-timepicker.min.css">
    <link rel="stylesheet" href="/css/select2.min.css">
    <link rel="stylesheet" href="/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/css/_all-skins.min.css">
    <link rel="stylesheet" href="/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/blue.css">

    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">

</head>

<body class="bfound">

    <section class="content">
        <div class="error-page">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h2 class="headline text-yellow"> 401</h2>

            <div class="error-content">
                <h3><i class="fas fa-exclamation"></i> Oops! Página no encontrada.</h3>

                <p>
                    No autorizado
                    HTTP Error 401. El recurso solicitado requiere autenticación de usuario.
                </p>
            </div>
        </div>
    </section>
    </div>


    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/select2.full.min.js"></script>
    <script src="/js/dataTables.bootstrap.min.js"></script>
    <script src="/js/jquery.slimscroll.min.js"></script>
    <script src="/js/fastclick.js"></script>
    <script src="/js/adminlte.min.js"></script>
    <script src="/js/demo.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/icheck.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB"
        crossorigin="anonymous"></script>


</body>

</html>