<% include partials/_header_login %>

INDEX LOGIN

<h1>HOLA</h1>
<h1> <%= session.nombre %></h1> 
    <h2> ESTO ES EL INDEX CUANDO ESTAS LOGEADO</h2>
    <br>
    <br>
    <br>

<a href="index">Logout</a>