

Usuarios
Login 

<div class="col-md-5">
    <div class="card-body">
        <form action="/login" method="POST">
        <div class="form-group">
            <label>Email</label>
          <input type="text" name="email" class="form-control" >
        </div>
        <div class="form-group">
            <label>Contraseña</label>
          <input type="text" name="password" class="form-control" >
        </div>
        <div>
          <a href="../zonacliente/rememberpass">¿Has olvidado la contraseña?</a>
        </div>
        <button type="submit" class="btn btn-primary">
          login
        </button>
      </form>
    </div>
  </div>



  