<!-- MENSAJE DE ERRORES-->

<!-- LOGIN -->


<% if (messagesLogin.email) { %>
<% messagesLogin.email.forEach(function(email) { %>
<div class="alert alert-primary" role="alert">
    <%= email %>
<% }) %>
</div>
<% } %>

<% if (messagesLogin.email2) { %>
<% messagesLogin.email2.forEach(function(email2) { %>
<div class="alert alert-primary" role="alert">
    <%= email2 %>
<% }) %>
</div>
<% } %>

<% if (messagesLogin.pass) { %>
<% messagesLogin.pass.forEach(function(pass) { %>
<div class="alert alert-primary" role="alert">
    <%= pass %>
<% }) %>
</div>
<% } %>

