<!-- MENSAJE DE ERRORES-->

<!-- RECUPERAR CONTRASEÑA ERRORES-->

<% if (messages.notices) { %>
<% messages.notices.forEach(function(notices) { %>
<div class="alert alert-primary" role="alert">
    <%= notices %>
<% }) %>
</div>
<% } %>

<% if (messages.errors) { %>
<% messages.errors.forEach(function(errors) { %>
<div class="alert alert-danger" role="alert">
    <%= errors %>
<% }) %>
</div>
<% } %>

