<!-- PARTE DEL ADMINISTRADOR-->
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <% if (usuario.isSuperAdmin) { %>
            <li class="header">Menú de Administrador</li>
            <li class="treeview">
                <a href="#">
                    <i class="fas fa-users"></i>
                    <span>Usuarios</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/../admin/users"><i class="fas fa-eye"></i> Ver Usuarios</a></li>
                    <li><a href="/../admin/users/add"><i class="fas fa-user-plus"></i> Registrar</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fas fa-hands-helping"></i>
                    <span>Valoraciones</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/../admin/valuations"><i class="fas fa-eye"></i> Ver Valoraciones</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fas fa-envelope"></i>
                    <span>Contactos</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/../admin/contacts"><i class="fas fa-eye"></i> Ver Contactos</a></li>
                </ul>
            </li>
            <% } else { %>


                    <li class="header">Área Cliente</li>
                  <li class="treeview">
                    <li><a href="/../zonacliente/user"><i class="fas fa-eye"></i> Mis Datos</a></li>
                    <li><a href="/../zonacliente/valuations"><i class="fas fa-hands-helping"></i> Mis Valoraciones</a></li>
                    <li><a href="/../zonacliente/contact"><i class="fas fa-envelope"></i> Contacto</a></li>
               
                </li>
                <% } %>
            </ul>
    </section>
</aside>
