<% include ../partials/_header %>
<% include ../partials/_bar %>
<% include ../partials/_nav %>


<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="register-box">
                <div class="register-box-body">
                    <p class="login-box-msg">Registro de Usuarios</p>
                    <hr width="100%" />
                    <form action="/admin/users/add" method="POST">
                    <label>Nombre</label>
                    <input type="text" name="nombre" class="form-control">
                    <br>
                    <label>Apellido</label>
                    <input type="text" name="apellido" class="form-control">
                    <br>
                    <label>Contraseña</label>
                    <input type="password" name="password" class="form-control">
                    <br>
                    <label>Repetir Contraseña</label>
                    <input type="password" name="password" class="form-control">
                    <br>
                    <label>Teléfono</label>
                    <input type="text" name="telefono" class="form-control">
                    <br>  
                    <label>Código Postal</label>
                    <input type="text" name="codigoPostal" class="form-control">
                    <br>  
                    <label>Fecha de Nacimiento</label>         
                    <input type="text" name="fechaNacimiento" class="form-control">
                    <br>
                    <label>Email</label>         
                    <input type="text" name="email" class="form-control">
                    <br>
                    <button type="submit" class="btn btn-primary "> Registrar</button>
                    <a href="/admin/users" class="btn btn-warning ">Volver</a>
                    </form>
                </div>
              </div>
         </div>
      </section>
    </div>




<% include ../partials/_footer %>